nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') resQ Center
    div
      ul.nav.navbar-nav
        li(class=active(path, '/')): a(href='/'): i.fa.fa-home &nbsp; Home
        li(class=active(path, '/faq')): a(href='/faq'): i.fa.fa-question &nbsp; FAQ
        li(class=active(path, '/about')): a(href='/about') About
        li(class=active(path, '/contact')): a(href='/contact'): i.fa.fa-at &nbsp; Contact
        li(class=active(path, '/animals')): a(href='/animals'): i.fa.fa-at &nbsp; Animals
