extends ../../layouts/master
block content
  h3 This is animals
  a(href='/animals/new') New Animal
  
  .animals
    each animal in animals
      .animal.col-md-3
        .photo(style='background-image:url("#{animal.photo}");')
        .info
          .name: a(href='/animals/#{animal._id}')= animal.name
          .description= animal.description
          .age= animal.age
          .gender= animal.gender
          .breed= animal.breed
          .adopted= animal.isAdopted
