extends ../../layouts/master
block content
  h3 Edit Client
  
  .row
    .col-xs-4
      form(method='post', action='/clients/#{client._id}')
        .form-group
          label(for='name') Name
          input#name.form-control(type='text', name='name', autofocus=true, value=client.name)
        .form-group
          label(for='description') Description
          textarea#description.form-control(rows='5', name='description')= client.description
        .form-group
          label(for='age') Age
          input#age.form-control(type='number', name='age', value=client.age)
        .form-group
          label Gender
          .radio
            label
              input(type='radio', name='gender', value='male')
              span Male
          .radio
            label
              input(type='radio', name='gender', value='female')
              span Female
        .form-group
          label(for='address') Address
          input#address.form-control(type='text', name='address', value=client.address)
        .form-group
          button.btn.btn-default(type='submit') Submit 
    .col-xs-8
        
          
